.footer-head-title {
  font-weight: 800;
  margin-bottom: 15px;
}

.footer-link {
  margin-bottom: 5px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-middle {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--white);
}

.footer-middle-text {
  font-size: 30px;
}

.footer-bottom-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .footer-bottom-wrapper {
    margin-bottom: 20px;
  }

  .footer-bottom-img {
    width: 30px;
    height: 30px;
  }

  .footer-middle-text {
    font-size: 20px;
  }

  .footer-middle-img {
    width: 50px;
    height: 50px;
  }
}
